body {
  background-color: #e8f6f3;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.form-container {
  background-color: white;
  width: 30%;
  height: 60%;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

h2 {
  text-align: center;
  color: #0077b6;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  
}

label {
  font-size: 14px;
  margin-bottom: 5px;
  color: #004d40;
}

input,
textarea {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #0077b6;
  font-size: 15px;
}

button {
  background-color: #0077b6;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #005f87;
}
